<md-toolbar color="primary">
  <span>Repositories</span>
</md-toolbar>


<md-tab-group>
  <md-tab label="Lookup">
    <div layout="row" layout-align="end end">
      <md-input-container>
        <input mdInput type="text" [(ngModel)]="username" placeholder="Username">
      </md-input-container>
      <button md-icon-button (click)="showName()">
          <md-icon>search</md-icon>
    </button>
    </div>
    <div layout="row" layout-align="end end">
        <md-select type="string" placeholder="Order by" [(ngModel)]="selectedFilter">
          <md-option *ngFor="let option of filterOptions" [value]="option">{{option.name}}</md-option>
        </md-select>
    </div>
    <md-nav-list>
      <md-list-item *ngFor="let repo of repoContents|orderBy:selectedFilter">
        <span md-line>{{ repo.name }}</span>
        <span >{{ repo.pushed_at|date: 'dd/MM/yyyy' }}</span>
        <button md-icon-button (click)="showDialogData(repo)">
          <md-icon>info</md-icon>
        </button>
        <button md-icon-button (click)="addToFavourites(repo)">
          <md-icon>favorite</md-icon>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-tab>

  <md-tab label="Favorites">
    <md-nav-list>
      <md-list-item *ngFor="let favourite of favourites;let i = index;">
        <span md-line>{{ favourite.name }}</span>
        <a href={{favourite.url}} target="_blank">
          <md-icon>open_in_new</md-icon>
        </a>
        
        <button md-icon-button (click)="removeFromFavourites(i)" appConfirmaction>
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-tab>
</md-tab-group>



<!--<md-input-container>
  <input mdInput type="text" [(ngModel)]="repository.name" placeholder="name">
</md-input-container>

 <md-select type="number"   [(ngModel)]="selectedRepository" (ngModelChange)="showSelectedOption()">
     <md-option *ngFor="let repo of defaultRepositories" [value]="repo">{{repo.name}}</md-option>
   </md-select>


    
<button md-raised-button (click)="showName()">Show Repository Name</button>-->